.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	/*max-height:300px;*/
	/*border:solid blue;*/
	justify-content: flex-start;
	flex-direction: row;
}

.flex-container a{
	/*display:flex;*/
	margin: 10px;
	text-decoration: none;
	/*background-color: rgb(240,235,230);*/
	border:solid #2d04f9;
	width:300px;
	height:310px;
	line-height: 30px;
}

.flex-container a:hover{
	text-decoration: none;
	color:black;
	border: solid #0a0472;
}
.flex-container a > *:hover{
	opacity: 0.7;
}

.flex-item {
	display: flex;
	min-width: 270px;
	max-width: 300px;
	min-height: 270px;
	/*max-height:50%;*/
	max-height: 300px;
	flex-grow: 1;
	background: no-repeat center;
	background-size: contain;
	padding: 0;
	margin: 0;
	/*border:solid green;*/
}

.flex-item + div, .flex-item-text{
	text-align:center;
	width:100%;
	color: black;
}
div, a {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: none;
}
