#override-bootstrap, body{
	/*background-color: #eee7d4;*/
	background-color:  #FFFFFF;
	font-family:system-ui;
	overflow-y:scroll;
}

.my-ng-view{
	margin-top:65px;
	height: -webkit-calc(100vh - 80px);
	height:    -moz-calc(100vh - 80px);
	height:         calc(100vh - 80px);
	/*border:solid orange;*/
	padding:0px;
	margin-left: 25px;
	margin-right: 25px;
}
.main-nav-item{
	font-size:24px; 
	color:black;
	font-family:Century Gothic, sans-serif;
	padding: 12px 8px 12px 8px;
}
#override-bootstrap .main-nav-item:hover{
	color:#1a8cff;
}

.main-nav{
	max-height:55px;
	background-color: rgb(240,235,230);
}
.main-nav.shrink {
	max-height: 28px;
}
.main-nav-item.shrink{
	font-size:12px;
}

#override-bootstrap .main-nav{
	background-color:#ccc;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background-color: rgb(240,235,230);
}

#current-link-box{
	border-radius: 0px;
	/*border:solid black; */
	height:0px; 
	width:0px;
	top:0px;
	/*width:1px; */
	position:absolute;
	z-index: -1;
	-webkit-transition: width 0.25s, left 0.8s; /* For Safari 3.1 to 6.0 */
	transition: width 0.25s, left 0.8s;
}

.music-player{
	position:fixed;
	bottom:0px;
	right:3px;
	border: 2px solid black;
	cursor:pointer;
	padding:4px;
	margin:2px;
	z-index: 1;
}

.music-player:hover{
	color:green;
	border:solid green;
}
.music-player i{
	font-size:30px;
	top:5px;
	position:relative;
}
.music-player div{
	display:inline-block;
	font-size:20px;
	padding-left:1px;
	padding-bottom:3px;
}