<div>
	This was a project created by me, Chris Yeung, Audrey Fifer, and Dylan Nguyen during HackUVa March 2018.
	It's a VR Piano that interfaces with leapmotion sensors (for hands) and Oculus VR (for... VR, duh) 
	and stitched together in Unity. We had some cool ideas like making cool unique effects for each key,
	songs, etc. but the basic functionality was pretty difficult to get just on its own. Not to mention
	Audrey had to carve out the piano for us in autodesk for us.
</div>
<div>
	It doesn't port well to WebGL because, well, VR, but here's a screenshot of how crazy we made it.
	The terrain was procedurally generated and we had even more ideas for how to make the terrain
	wobble with the piano but, well it was a great time just to get this far.
</div>

<img src="/images/limitlessPiano.png" alt="Insane mushrooms, blue terrain, wobbly effects, and a two octave keyboard that I shudder to call a piano.">

<div>
	Chris officially owns the repo at <a ng-href="https://github.com/hungryeung/HackUVA" target="_blank">https://github.com/hungryeung/HackUVA</a> 
</div>