#override-bootstrap, body{
	/*background-color: #eee7d4;*/
	background-color:  #FFFFFF;
	font-family:system-ui;
	overflow-y:auto;
}
.ng-view{
	margin-top:20px;
}
.main-nav-item{
	font-size:24px; 
	color:black;
	font-family:Century Gothic, sans-serif;
}
#override-bootstrap .main-nav-item:hover{
	color:#1a8cff;
}

.main-nav{
	max-height:55px;
}
.main-nav.shrink {
	max-height: 28px;
}
.main-nav-item.shrink{
	font-size:12px;
}

.main-nav{
	background-color:#ccc;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.green-hover{
	margin-left: 25%;
	cursor:pointer;
}
.green-hover:hover::before{
	color:green;
}

.home-scene{
	border:solid black;
	height:88vh;
	position:relative;
	/*overflow:scroll;*/
}

.home-img{
	height:auto;
	width:auto;
	max-width:400px;
	max-height:300px;
}

.home-left{
	width:100px;
	float:left;
	border:solid blue;

	height: -webkit-calc(100% - 80px);
	height:    -moz-calc(100% - 80px);
	height:         calc(100% - 80px);

	position:fixed;
	left:10px;
	top:70px;
	overflow-wrap: break-word;
}

.home-right{
	float:right;
	width: -webkit-calc(100% - 100px);
	width:    -moz-calc(100% - 100px);
	width:         calc(100% - 100px);
	border:solid red;
}