body{
	/*background-color: #eee7d4;*/
	background-color:  #FFFFFF;
	font-family:system-ui;
	overflow-y:auto;
}
.ng-view{
	margin-top:20px;
}
.main-nav-item{
	font-size:20px; 
	color:black;
	font-family:Century Gothic, sans-serif;
}
.main-nav{
	max-height:50px;
}
.main-nav.shrink {
  max-height: 28px;
}
.main-nav-item.shrink{
	font-size:12px;
}

.main-nav{
  background-color:#ccc;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
}

.music-player:hover{
	cursor: pointer;
}

.home-scene{
	border:solid black;
	/*height:200px;*/
	/*overflow:scroll;*/
}

img{
	max-width:100%;
	max-height: 100%;
}