#override-bootstrap, body{
	/*background-color: #eee7d4;*/
	background-color:  #FFFFFF;
	font-family:system-ui;
	overflow-y:auto;
}
.ng-view{
	margin-top:20px;
}
.main-nav-item{
	font-size:20px; 
	color:black;
	font-family:Century Gothic, sans-serif;
}
 #override-bootstrap .main-nav-item:hover{
	color:#1a8cff !important;
}

.main-nav{
	max-height:50px;
}
.main-nav.shrink {
  max-height: 28px;
}
.main-nav-item.shrink{
	font-size:12px;
}

.main-nav{
  background-color:#ccc;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
}

.music-player:hover{
	cursor: pointer;
}

.home-scene{
	border:solid black;
	height:100vh-20px;
	top:20px;
	/*overflow:scroll;*/
}

.home-img{
	height:auto;
	width:auto;
	max-width:400px;
	max-height:300px;
}

