<link rel="stylesheet" href="/views/homepage/homepage.css">
<div class="container animated appear home-container" style="height:100%">
	<div class="row" style="height:100%;">
		<div class="col-4">
			<img src="/images/me.jpg" height="auto" width="100%" style="float:left"> 
		</div>
		<div class="col-8">
			<div class="row">
				<div class="col">
					Hello this is the homepage! Writing up a short blurb and scrounging up some pictures to put here. Check out the links on the nav-bar!
				</div>
			</div>
			<div class="row justify-content-center" style="padding-top:10%;">
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col">
					<a href="https://www.linkedin.com/in/oliver-s-livershi/" target="_blank">
						<img class="logo-link" src='/images/linkedin.png'>
					</a>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col">
					<a href="https://github.com/oshi97" target="_blank">
						<img class="logo-link" src='/images/github.png'>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>