<link rel="stylesheet" href="/views/homepage/homepage.css">
<div class="flex-container animated appear">
	<a href="/about">
		<div class="flex-item" style="background-image: url('/images/me.jpg')">
		</div>
		<div> About Me</div>
	</a>
	<a href="/mebot">
		<div class="flex-item" style="background-image: url('/images/under-construction.png')">
		</div>
		<div> MeBot </div>
	</a>
	<a href="/blog">
		<div class="flex-item" style="background-image: url('/images/under-construction.png')">
		</div>
		<div> Blog</div>
	</a>
	<a href="/resume.pdf" target="_blank">
		<div class="flex-item" style="background-image: url('/images/code-for-food.jpg')">
		</div>
		<div> Resume</div>
	</a>
</div>