<link rel="stylesheet" href="/views/homepage/homepage.css">
<div class="flex-container">
	<a href="/about">
		<div class="flex-item">
			About Me
			<img src="/images/me.jpg">
		</div>
	</a>
	<a href="/mebot">
		<div class="flex-item">
			MeBot
			<img src="/images/under-construction.png">
		</div>
	</a>
	<a href="/blog">
		<div class="flex-item">
			Blog
			<img src="/images/under-construction.png">
		</div>
	</a>
	<a href="/resume.pdf" target="_blank">
		<div class="flex-item">
			Resume
			<img src="/images/code-for-food.jpg">
		</div>
	</a>
</div>

