<!-- <link rel="stylesheet" href="/views/about/about.css"> -->
<div class="flex-container">
	<a href="/about/bio">
		<div class="flex-item" style="background-image: url('/images/me.jpg')">
		</div>
		<div>Short Bio</div>
	</a>
	<a href="/about/games">
		<div class="flex-item" style="background-image: url('/images/gamecube-controller.jpg')">
		</div>
		<div> Games!</div>
	</a>
	<a href="/about/piano">
		<div class="flex-item" style="background-image: url('/images/piano-keys.png')">
		</div>
		<div> Piano</div>
	</a>
	<a href="/resume.pdf" target="_blank">
		<div class="flex-item" style="background-image: url('/images/code-for-food.jpg')">
		</div>
		<div> Resume</div>
	</a>
</div>