<div class="flex-container">
	<a ng-href="/projects/site" >
		<div class="flex-item" style="background-image: url('/images/angularjs-small.png')">
		</div>
		<div> This Site! </div>
	</a>
	<a ng-href="/views/projects/dome/index.html" target="_blank" onclick="trackOutboundLink('/views/projects/dome/index.html'); return false;">
		<div class="flex-item" style="background-image: url('/images/unity-small.png')">
		</div>
		<div> Dome </div>
	</a>
	<a href="/projects/limitless_piano">
		<div class="flex-item" style="background-image: url('/images/piano-beluga.gif')">
		</div>
		<div> HackUVa - Limitless Piano </div>
	</a>
	<a href="/projects/fan_feels">
		<div class="flex-item" style="background-image: url('/images/premier-league.png')">
		</div>
		<div> HoyaHacks - FanFeels</div>
	</a>
</div>
