<!-- <link rel="stylesheet" href="/views/projects/projects.css"> -->
<div class="flex-container">
	<a href="/projects/site">
		<div class="flex-item" style="background-image: url('/images/angularjs-small.png')">
		</div>
		<div> This Site! </div>
	</a>
	<a href="/projects/dome">
		<div class="flex-item" style="background-image: url('/images/unity-small.png')">
		</div>
		<div> Dome </div>
	</a>
<!--	<a href="/projects/mebot">
		<div class="flex-item" style="background-image: url('/images/witai.png')">
		</div>
		<div> MeBot </div>
	</a> -->
<!-- 	<a href="/projects/spending">
		<div class="flex-item" style="background-image: url('/images/piggybank.gif')">
		</div>
		<div> Spending Tracker </div>
	</a>
	<a href="/projects/regis">
		<div class="flex-item" style="background-image: url('/images/under-construction.png">
		</div>
		<div> Regis - Smart Notes </div>
	</a> -->
</div>
