<!-- <link rel="stylesheet" href="/views/projects/projects.css"> -->
<div class="flex-container">
	<a ng-href="/projects/site" >
		<div class="flex-item" style="background-image: url('/images/angularjs-small.png')">
		</div>
		<div> This Site! </div>
	</a>
	<a href="/projects/dome/index.html">
		<div class="flex-item" style="background-image: url('/images/unity-small.png')">
		</div>
		<div> Dome </div>
	</a>
	<a href="/projects/limitless_piano">
		<div class="flex-item" style="background-image: url('/images/piano-beluga.gif')">
		</div>
		<div> HackUVa - Limitless Piano </div>
	</a>
</div>
